/* FONTS */

@font-face {
	font-family: 'Alegreya';
	font-style: normal;
	font-weight: 400;
	src: local('Alegreya'), local('Alegreya-Regular'), url(../fonts/Alegreya/Alegreya-Regular.woff) format('woff'), url(../fonts/Alegreya/Alegreya-Regular.ttf) format('truetype');
}
@font-face {
	font-family: 'Alegreya';
	font-style: normal;
	font-weight: 700;
	src: local('Alegreya Bold'), local('Alegreya-Bold'), url(../fonts/Alegreya/Alegreya-Bold.woff) format('woff'), url(../fonts/Alegreya/Alegreya-Bold.ttf) format('truetype');
}
@font-face {
	font-family: 'Alegreya';
	font-style: normal;
	font-weight: 900;
	src: local('Alegreya Black'), local('Alegreya-Black'), url(../fonts/Alegreya/Alegreya-Black.woff) format('woff'), url(../fonts/Alegreya/Alegreya-Black.ttf) format('truetype');
}
@font-face {
	font-family: 'Alegreya';
	font-style: italic;
	font-weight: 400;
	src: local('Alegreya Italic'), local('Alegreya-Italic'), url(../fonts/Alegreya/Alegreya-Italic.woff) format('woff'), url(../fonts/Alegreya/Alegreya-Italic.ttf) format('truetype');
}
@font-face {
	font-family: 'Alegreya';
	font-style: italic;
	font-weight: 700;
	src: local('Alegreya Bold Italic'), local('Alegreya-BoldItalic'), url(../fonts/Alegreya/Alegreya-BoldItalic.woff) format('woff'), url(../fonts/Alegreya/Alegreya-BoldItalic.ttf) format('truetype');
}
@font-face {
	font-family: 'Alegreya';
	font-style: italic;
	font-weight: 900;
	src: local('Alegreya Black Italic'), local('Alegreya-BlackItalic'), url(../fonts/Alegreya/Alegreya-BlackItalic.woff) format('woff'), url(../fonts/Alegreya/Alegreya-BlackItalic.ttf) format('truetype');
}

body {
	font-family: Alegreya, Palatino, Georgia, serif;
	font-size: 18px;
}


/* GLOBAL */

.container {
	max-width: 770px;
}

.glyphicon {
	font-size: 14px;
}

.feed-icon {
	display: inline-block;
	width: 12px;
	height: 12px;
	background: url(../img/feed.png) no-repeat 0 50%;
}


/* HEADER */

body > header {
	margin-bottom: 60px;
}

.navbar {
	padding: 30px;
	background: none;
	border-top: none;
	border-left: none;
	border-right: none;
}

.navbar-brand {
	font-size: 30px;
}

a.navbar-brand:hover, .navbar-nav > li:hover > a {
	color: #3596f9 !important;
	text-decoration: underline;
}


/* CONTENT */

body > section h1 {
	margin-top: 50px;
}

body > section header {
	margin-bottom: 30px;
}

/* FOOTER */

body > footer {
	margin-top: 50px;
	padding-top: 30px;
	border-top: 1px solid #E7E7E7;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
	text-align: center;
	font-style: italic;
}

body > footer, body > footer a, body > footer p {
	font-size: 15px;
}
