<!DOCTYPE html>
<html>
<head>
	<title>$title$ - dsferruzza</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="alternate" type="application/atom+xml" title="David Sferruzza's blog" href="/atom.xml">

	<link rel="stylesheet" href="/assets/css/bootstrap.css">
	<link rel="stylesheet" href="/assets/css/main.css">
</head>
<body class="container">
	<header>
		<nav class="navbar navbar-default" role="navigation">
			<a class="navbar-brand" href="/">dsferruzza</a>
			<ul class="nav navbar-nav">
				<li><a href="/"><span class="glyphicon glyphicon-home"></span> Home</a></li>
				<li><a href="/archive.html"><span class="glyphicon glyphicon-bullhorn"></span> Blog</a></li>
				<li><a href="/atom.xml"><span class="feed-icon"></span> Feed</a></li>
				<!--<li><a href="#"><span class="glyphicon glyphicon-book"></span> CV</a></li>-->
			</ul>
		</nav>
	</header>

	<section>
		$body$
	</section>

	$if(posts)$
	<aside>
		$partial("templates/postList.html")$
	</aside>
	$endif$

	<footer>
		
	</footer>
</body>
</html>
