<!DOCTYPE html>
<html>
<head>
	<title>dsferruzza - $title$</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="stylesheet" href="/assets/css/bootstrap.css">
	<link rel="stylesheet" href="/assets/css/main.css">
</head>
<body class="container">
	<header>
		<nav class="navbar navbar-default" role="navigation">
			<a class="navbar-brand" href="/">dsferruzza</a>
			<ul class="nav navbar-nav">
				<li><a href="/"><span class="glyphicon glyphicon-home"></span> Home</a></li>
				<li><a href="#"><span class="glyphicon glyphicon-bullhorn"></span> Blog</a></li>
				<li><a href="#"><span class="glyphicon glyphicon-book"></span> CV</a></li>
			</ul>
		</nav>
	</header>

	<section>
		$body$
	</section>

	<footer>
		
	</footer>
</body>
</html>
