<article itemscope itemtype="http://schema.org/Article">
	<header>
		<h1 itemprop="name">$title$</h1>
		<p>
			<span class="glyphicon glyphicon-user"></span> <span itemprop="creator">$author$</span> - 
			<span class="glyphicon glyphicon-time"></span> <time itemprop="dateCreated" datetime="$date.iso8601$">$date$</time> 
			$if(updated)$<em>(last update: <time itemprop="dateModified" datetime="$updated.iso8601$">$updated$</time>)</em>$endif$
			<br><span class="glyphicon glyphicon-globe"></span> <span itemprop="inLanguage">$lang$</span> - 
			<span class="glyphicon glyphicon-tags"></span> <span itemprop="keywords">$prettytags$</span>
		</p>
	</header>
	<div itemprop="articleBody">$body$</div>
</article>
