<article itemscope itemtype="http://schema.org/Article">
	<header>
		<h1 itemprop="name">$title$</h1>
		<p>
			<span class="glyphicon glyphicon-user"></span> <span itemprop="creator">$author$</span> - 
			<span class="glyphicon glyphicon-time"></span> <time itemprop="dateCreated" datetime="$date.iso8601$">$date$</time> 
			$if(updated)$<em>(last update: <time itemprop="dateModified" datetime="$updated.iso8601$">$updated$</time>)</em>$endif$
			<br><span class="glyphicon glyphicon-globe"></span> <span itemprop="inLanguage">$lang$</span> - 
			<span class="glyphicon glyphicon-tags"></span> <span itemprop="keywords">$prettytags$</span>
		</p>
	</header>
	<div itemprop="articleBody">$body$</div>
	<hr>
	<aside id="disqus_thread">
		<div class="text-center">
			<br>
			<a href="#disqus_thread" onclick="disqus()" class="btn btn-primary">Load comments</a>
		</div>
	</aside>
</article>

<script type="text/javascript">
	function disqus() {
		var disqus_shortname = 'davidsferruzzafr';
		var disqus_title = '$title$';

		(function() {
			var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
			dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
			(document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
		})();
	}
</script>
